<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sistema de Estágios</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Sistema de Gerenciamento de Estágios</h1>

        <p>Encontre oportunidades e acompanhe processos seletivos.</p>
    </header>

    <main>
        <section>
            <h2>Bem-vindo</h2>

            <p>
                Este sistema permite que empresas publiquem vagas de estágio
                e que estudantes encontrem oportunidades.
            </p>

            <nav>
                <a href="/vagas">Ver vagas</a>
                <a href="/empresas">Área da empresa</a>
                <a href="/candidaturas">Candidaturas</a>
                <a href="/empresas">Ver Empresas</a>
            </nav>
        </section>
    </main>
</body>
</html>