<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Sistema de Estágios</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
    <h1>Sistema de Gerenciamento de Estágios</h1>

    <p>
        Gerencie empresas, vagas, alunos e candidaturas.
    </p>
</header>

<main>

    <nav>
        <ul>
            <li>
                <a href="/empresas">
                    Gerenciar empresas
                </a>
            </li>

            <li>
                <a href="/vagas">
                    Gerenciar vagas
                </a>
            </li>

            <li>
                <a href="/alunos">
                    Gerenciar alunos
                </a>
            </li>

            <li>
                <a href="/candidaturas">
                    Gerenciar candidaturas
                </a>
            </li>
        </ul>
    </nav>

</main>

</body>
</html>